### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [63]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [65]:
# Calculate the total number of schools
total_school = len(school_data_complete['school_name'].unique())
# Calculate the total number of students
total_student = school_data_complete['student_name'].count()
# Calculate the total budget
total_budget = sum(school_data_complete['budget'].unique())
# Calculate the average math score
average_math_score = school_data_complete['maths_score'].mean()
# Calculate the average reading score
average_reading_score = school_data_complete['reading_score'].mean()
# Calculate the overall passing rate
passing_score_overall = (average_math_score + average_reading_score)/2
# Calculate the percentage of students with a passing math score (70 or greater)
passing_math_score = (school_data_complete[school_data_complete['maths_score']>=50]['student_name'].count()/total_student)*100
# Calculate the percentage of students with a passing reading score (70 or greater)
passing_reading_score = (school_data_complete[school_data_complete['reading_score']>=50]['student_name'].count()/total_student)*100

# Create a dataframe to hold the above results and formatting
district = {
    'Total Schools':total_school,
    'Total Student':'{:,}'.format(total_student),
    'Total Budget':'${:,.2f}'.format(total_budget),
    'Average Maths Score':average_math_score,
    'Average Reading Score':average_reading_score,
    '% Passing Maths':passing_math_score,
    '% Passing Reading':passing_reading_score,
    '% Overall Passing Score':[passing_score_overall],  
}

district_summery = pd.DataFrame(district)
district_summery

,Total Schools,Total Student,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing Score
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.078632,84.426857,70.159165

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [71]:
# Grouped our complete data frame by school name 
grouped_school = school_data_complete.groupby(['school_name'])
# Calculate the total student for each school
total_student = grouped_school.size()
# Get the school type for each school
school_type = grouped_school['type'].first()
# Calculate the total budget for each school
total_budget = grouped_school['budget'].first()
# Calculate the budget per student for each school
t_budget_per_student = total_budget/total_student
# Calculate the average math score for each school
average_math_score = grouped_school['maths_score'].mean()
# Calculate the average reading score for each school
average_reading_score = grouped_school['reading_score'].mean()
# Calculate the percentange of passing math score for each school
grouped_passing_math = school_data_complete[school_data_complete['maths_score']>=70].groupby(['school_name']).size()
percent_passing_math = (grouped_passing_math/total_student)*100
# Calculate the percentange of passing math score for each school
grouped_passing_reading = school_data_complete[school_data_complete['reading_score']>=70].groupby(['school_name']).size()
percent_passing_reading = (grouped_passing_reading/total_student)*100
# Calculate the overall passing score for each school
percent_overall_passing = (percent_passing_math + percent_passing_reading)/2

# Create a dataframe to hold the above results
school={
    'School Type': school_type,
    'Total Students':total_student,
    'Total School Budget': total_budget,
    'Per Student Budget': t_budget_per_student,
    'Average Math Score': average_math_score,
    'Average Reading Score': average_reading_score,
    '% Passing Math': percent_passing_math,
    '% Passing Reading': percent_passing_reading,
    '% Overall Passing Rate': percent_overall_passing,
}
school_summary = pd.DataFrame(school)
# Create a copy of school summary data frame before formatting to be able to use the numeric data on original data frame later
displayed_school_summary = school_summary.copy()
# Formatting the display data frame
school_summary['Per Student Budget'] = school_summary['Per Student Budget'].map('${:,.2f}'.format)
school_summary['Total School Budget'] = school_summary['Total School Budget'].map('${:,.2f}'.format)
school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,55.225080,52.451768,53.838424
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,53.175457,53.283100,53.229279
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,47.677179,49.169210,48.423194
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,48.959474,50.492881,49.726177
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,54.700272,54.155313,54.427793
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,49.255663,49.471413,49.363538
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,57.142857,55.503513,56.323185
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,48.920123,49.777168,49.348646
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,48.771267,48.603235,48.687251
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,55.405405,55.093555,55.249480
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,54.513628,52.788197,53.650913
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,54.968768,49.290176,52.129472
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,49.357798,50.703364,50.030581
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,49.364871,48.313622,48.839247
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,54.444444,52.166667,53.305556

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [72]:
# Sort and display the top five schools in overall passing rate
top_performing_schools = displayed_school_summary.sort_values(by='% Overall Passing Rate',ascending=False)
top_performing_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Holden High School,Independent,427,248087,581.0,72.583138,71.660422,57.142857,55.503513,56.323185
Pena High School,Independent,962,585858,609.0,72.088358,71.613306,55.405405,55.093555,55.249480
Griffin High School,Independent,1468,917500,625.0,71.788147,71.245232,54.700272,54.155313,54.427793
Bailey High School,Government,4976,3124928,628.0,72.352894,71.008842,55.225080,52.451768,53.838424
Rodriguez High School,Government,3999,2547363,637.0,72.047762,70.935984,54.513628,52.788197,53.650913

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

In [73]:
# Sort and display the five worst-performing schools
worst_performing_schools = displayed_school_summary.sort_values(by='% Overall Passing Rate')
worst_performing_schools.head()

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
school_name,,,,,,,,,
Figueroa High School,Government,2949,1884411,639.0,68.698542,69.077993,47.677179,49.169210,48.423194
Johnson High School,Government,4761,3094650,650.0,68.843100,69.039277,48.771267,48.603235,48.687251
Wilson High School,Independent,2283,1319574,578.0,69.170828,68.876916,49.364871,48.313622,48.839247
Huang High School,Government,2917,1910635,655.0,68.935207,68.910525,48.920123,49.777168,49.348646
Hernandez High School,Government,4635,3022020,652.0,68.874865,69.186408,49.255663,49.471413,49.363538

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [78]:
# Calculate the average math score for students of 9th grade at each school
school_avg_math_9th = school_data_complete[school_data_complete['year']==9].groupby('school_name')['maths_score'].mean()
# Calculate the average math score for students of 10th grade at each school
school_avg_math_10th = school_data_complete[school_data_complete['year']==10].groupby('school_name')['maths_score'].mean()
# Calculate the average math score for students of 11th grade at each school
school_avg_math_11th = school_data_complete[school_data_complete['year']==11].groupby('school_name')['maths_score'].mean()
# Calculate the average math score for students of 12th grade at each school
school_avg_math_12th = school_data_complete[school_data_complete['year']==12].groupby('school_name')['maths_score'].mean()

# Create a dataframe to hold the above results
grade_math_score={
    '9th':school_avg_math_9th,
    '10th':school_avg_math_10th,
    '11th':school_avg_math_11th,
    '12th':school_avg_math_12th,
    }

math_score_by_grade = pd.DataFrame(grade_math_score)
math_score_by_grade.head(50)

                             9th       10th       11th       12th
school_name
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

## Reading Score by Year

* Perform the same operations as above for reading scores

In [80]:
# Calculate the average reading score for students of 9th grade at each school
school_avg_reading_9th = school_data_complete[school_data_complete['year']==9].groupby('school_name')['reading_score'].mean()
# Calculate the average reading score for students of 10th grade at each school
school_avg_reading_10th = school_data_complete[school_data_complete['year']==10].groupby('school_name')['reading_score'].mean()
# Calculate the average reading score for students of 11th grade at each school
school_avg_reading_11th = school_data_complete[school_data_complete['year']==11].groupby('school_name')['reading_score'].mean()
# Calculate the average reading score for students of 12th grade at each school
school_avg_reading_12th = school_data_complete[school_data_complete['year']==12].groupby('school_name')['reading_score'].mean()

# Create a dataframe to hold the above results
grade_reading_score={
    '9th':school_avg_reading_9th,
    '10th':school_avg_reading_10th,
    '11th':school_avg_reading_11th,
    '12th':school_avg_reading_12th,
    }

reading_score_by_grade = pd.DataFrame(grade_reading_score)
reading_score_by_grade.head(50)

                             9th       10th       11th       12th
school_name
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [88]:
# bins
bins = [0,584,629,644,680]
# Labels
schools_by_spending_group = ["<$584", "$585-630", "$630-645", "$645-680"]

school_data_complete['school_spending'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins, labels = schools_by_spending_group)
school_spending_bins = school_data_complete.groupby('school_spending')
# Average maths score
average_math_score = school_spending_bins['maths_score'].mean()
# Average reading score
average_reading_score = school_spending_bins['reading_score'].mean()
# Passing math percentage
passing_maths = school_data_complete[school_data_complete['maths_score'] >= 50].groupby('school_spending')['Student ID'].count()/school_spending_bins['Student ID'].count()*100
# Passing reading percentage
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 50].groupby('school_spending')['Student ID'].count()/school_spending_bins['Student ID'].count()*100
# Overall passing reading and math percentage
overall_passing = school_data_complete[(school_data_complete['reading_score'] >= 50) & (school_data_complete['maths_score'] >= 50)].groupby('school_spending')['Student ID'].count()/school_spending_bins['Student ID'].count()*100

scores_by_spending = pd.DataFrame({
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    "% Passing Math": passing_maths,
    "% Passing Reading": passing_reading,
    "% Overall Passing": overall_passing
            
})
scores_by_spending

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_spending,,,,,
<$584,70.938128,70.379397,88.159548,85.568467,75.581030
$585-630,72.173448,70.965856,91.556671,87.345915,79.960729
$630-645,70.104045,69.953630,85.391274,84.260731,72.027910
$645-680,68.876878,69.064160,81.556079,81.815967,66.766832

## Scores by School Size

* Perform the same operations as above, based on school size.

In [98]:

bins = [0,999,1999,4999]
scores_by_school_size_group = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]
school_data_complete['school size'] = pd.cut(school_data_complete['size'], bins, labels = scores_by_school_size_group)
school_size_bins = school_data_complete.groupby('school size')
average_math_score = school_size_bins['maths_score'].mean()
average_reading_score = school_size_bins['reading_score'].mean()
passing_maths = school_data_complete[school_data_complete['maths_score'] >= 50].groupby('school size')['Student ID'].count()/school_size_bins['Student ID'].count()*100
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 50].groupby('school size')['Student ID'].count()/school_size_bins['Student ID'].count()*100
overall_passing = school_data_complete[(school_data_complete['reading_score'] >= 50) & (school_data_complete['maths_score'] >= 50)].groupby('school size')['Student ID'].count()/school_size_bins['Student ID'].count()*100


scores_by_size = pd.DataFrame({
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    "% Passing Math": passing_maths,
    "% Passing Reading": passing_reading,
    "% Overall Passing": overall_passing
            
})
scores_by_size

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school size,,,,,
Small (<1000),72.240461,71.627790,91.144708,87.185025,79.121670
Medium (1000-2000),71.441798,70.724595,89.908472,86.740202,78.091997
Large (2000-5000),69.926450,69.685088,84.722649,83.622133,70.969616

## Scores by School Type

* Perform the same operations as above, based on school type

In [99]:
# Create a new data frame with our desired columns
scores_type = school_summary[['School Type','Average Math Score',
                                  'Average Reading Score','% Passing Math',
                                  '% Passing Reading','% Overall Passing Rate',]]
# Create a group based off of the school type
scores_type = scores_type.groupby('School Type').mean()
scores_type.head()

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
School Type,,,,,
Government,69.834806,69.675929,50.474631,50.393410,50.434021
Independent,71.368822,70.718933,53.569984,52.313664,52.941824

Assignment 4- PyCity Schools
Challenge: draw three correct conclusions from the data for Pymoli

The first observation I noticed from observing the data, is that just because the spending per student may be higher than other school, does not necessarily mean that this leads to better maths and reading scores. In fact, the average overall percentage of passing scores came from the two lower spending ranges per student.

The second observation I noticed was that the lower the school size, the better the overall passing of both maths and reading.

The final observation was that Independent schools not only have a higher overall passing percentage, but they also scored higher on average maths scores, average reading scores, percentage passing maths and percentage passing reading.