### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete

,Student ID,student_name,gender,year,school_name,reading_score,maths_score,School ID,type,size,budget
0,0,Paul Bradley,M,9,Huang High School,96,94,0,Government,2917,1910635
1,1,Victor Smith,M,12,Huang High School,90,43,0,Government,2917,1910635
2,2,Kevin Rodriguez,M,12,Huang High School,41,76,0,Government,2917,1910635
3,3,Richard Scott,M,12,Huang High School,89,86,0,Government,2917,1910635
4,4,Bonnie Ray,F,9,Huang High School,87,69,0,Government,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12,Thomas High School,51,48,14,Independent,1635,1043130
39166,39166,Dawn Bell,F,10,Thomas High School,81,89,14,Independent,1635,1043130
39167,39167,Rebecca Tanner,F,9,Thomas High School,99,99,14,Independent,1635,1043130
39168,39168,Desiree Kidd,F,10,Thomas High School,72,77,14,Independent,1635,1043130
39169,39169,Carolyn Jackson,F,11,Thomas High School,47,62,14,Independent,1635,1043130

## Local Government Area Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average maths score 

* Calculate the average reading score

* Calculate the percentage of students with a passing maths score (50 or greater)

* Calculate the percentage of students with a passing reading score (50 or greater)

* Calculate the percentage of students who passed maths **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [3]:
school_name=school_data_complete['school_name'].unique()
school_name

array(['Huang High School', 'Figueroa High School', 'Shelton High School',
       'Hernandez High School', 'Griffin High School',
       'Wilson High School', 'Cabrera High School', 'Bailey High School',
       'Holden High School', 'Pena High School', 'Wright High School',
       'Rodriguez High School', 'Johnson High School', 'Ford High School',
       'Thomas High School'], dtype=object)

In [16]:
total_school_number=len(school_name)
total_school_number

15

In [17]:
total_number_of_students = len(school_data_complete["student_name"])
total_number_of_students

39170

In [18]:
total_budget_unique = school_data_complete["budget"].unique()
total_budget = total_budget_unique.sum()

In [19]:
average_math_score = school_data_complete["maths_score"].mean()
average_math_score

70.33819249425581

In [20]:
average_reading_score = school_data_complete["reading_score"].mean()
average_reading_score

69.98013786060761

In [21]:
amount_of_math_students_above_50 = (school_data_complete["maths_score"] >= 50).sum()
amount_of_math_students_above_50

33717

In [22]:
percentage_passing_math = amount_of_math_students_above_50 / total_number_of_students
percentage_passing_math

0.8607863160582078

In [23]:
amount_of_reading_students_above_50 = (school_data_complete["reading_score"] >= 50).sum()
amount_of_reading_students_above_50

33070

In [24]:
percentage_passing_reading = amount_of_reading_students_above_50 / total_number_of_students
percentage_passing_reading

0.8442685728874139

In [25]:
amount_of_reading_maths_students_above_50 = ((school_data_complete["reading_score"] >= 50) & (school_data_complete["maths_score"] >= 50)).sum()
amount_of_reading_maths_students_above_50

28519

In [26]:
percentage_passing_math_reading = amount_of_reading_maths_students_above_50 / total_number_of_students
# format_percentage_passing_math_reading = "{:.6%}".format(percentage_passing_math_reading)
# format_percentage_passing_math_reading

In [27]:
local_government_area_summary_df = pd.DataFrame({"Total Schools": [total_school_number], "Total Students": [total_number_of_students],"Total Budget":[total_budget], "Average Maths Score":[average_math_score], "Average Reading Score":[average_reading_score], "% Passing Maths":[percentage_passing_math], "% Passing Reading":[percentage_passing_reading], "% Overall Passing":[percentage_passing_math_reading]})
local_government_area_summary_df

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,39170,24649428,70.338192,69.980138,0.860786,0.844269,0.728083

In [28]:
local_government_area_summary_df["Total Students"] = local_government_area_summary_df["Total Students"].map("{:,}".format)

In [29]:
local_government_area_summary_df["Total Budget"] = local_government_area_summary_df["Total Budget"].map("${:,.2f}".format)

In [30]:
local_government_area_summary_df["% Passing Maths"] = (local_government_area_summary_df["% Passing Maths"]*100).map("{:.1f}%".format)

In [31]:
local_government_area_summary_df["% Passing Reading"] = (local_government_area_summary_df["% Passing Reading"]*100).map("{:.1f}%".format)

In [32]:
local_government_area_summary_df["% Overall Passing"] = (local_government_area_summary_df["% Overall Passing"]*100).map("{:.2f}%".format)

In [33]:
local_government_area_summary_df

,Total Schools,Total Students,Total Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.00",70.338192,69.980138,86.1%,84.4%,72.81%

## School Summary

* Create an overview table that summarises key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed maths **and** reading.)
  
* Create a dataframe to hold the above results

In [23]:
school_type = school_data_complete.set_index('school_name').groupby('school_name')['type']
school_type

In [40]:
total_student = school_data_complete.set_index('school_name').groupby(['school_name'])["School ID"].count()
total_student

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: School ID, dtype: int64

In [41]:
total_school_budget = school_data_complete.set_index('school_name').groupby(['school_name'])['budget'].mean()
total_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [42]:
per_student_budget = school_data_complete.set_index('school_name').groupby(['school_name'])['budget'].mean()/school_data_complete.set_index('school_name').groupby(['school_name'])['School ID'].count()
per_student_budget

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [43]:
total_students_per_school = school_data_complete.set_index('school_name').groupby(['school_name'])['School ID'].count()
total_students_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: School ID, dtype: int64

In [44]:
size = school_data_complete.set_index('school_name').groupby(['school_name'])['size'].count()
size

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: size, dtype: int64

In [45]:
average_math_score =  school_data_complete.set_index('school_name').groupby(['school_name'])['maths_score'].mean()
average_math_score

school_name
Bailey High School       72.352894
Cabrera High School      71.657158
Figueroa High School     68.698542
Ford High School         69.091274
Griffin High School      71.788147
Hernandez High School    68.874865
Holden High School       72.583138
Huang High School        68.935207
Johnson High School      68.843100
Pena High School         72.088358
Rodriguez High School    72.047762
Shelton High School      72.034072
Thomas High School       69.581651
Wilson High School       69.170828
Wright High School       72.047222
Name: maths_score, dtype: float64

In [46]:
average_reading_score =  school_data_complete.set_index('school_name').groupby(['school_name'])['reading_score'].mean()
average_reading_score

school_name
Bailey High School       71.008842
Cabrera High School      71.359526
Figueroa High School     69.077993
Ford High School         69.572472
Griffin High School      71.245232
Hernandez High School    69.186408
Holden High School       71.660422
Huang High School        68.910525
Johnson High School      69.039277
Pena High School         71.613306
Rodriguez High School    70.935984
Shelton High School      70.257808
Thomas High School       69.768807
Wilson High School       68.876916
Wright High School       70.969444
Name: reading_score, dtype: float64

In [47]:
passing_maths  = school_data_complete[school_data_complete['maths_score'] >= 50].groupby('school_name')['Student ID'].count()
passing_maths

school_name
Bailey High School       4560
Cabrera High School      1688
Figueroa High School     2408
Ford High School         2258
Griffin High School      1339
Hernandez High School    3752
Holden High School        384
Huang High School        2383
Johnson High School      3907
Pena High School          882
Rodriguez High School    3631
Shelton High School      1612
Thomas High School       1371
Wilson High School       1890
Wright High School       1652
Name: Student ID, dtype: int64

In [48]:
pass_read_percent =  school_data_complete[school_data_complete['reading_score'] >= 50].groupby('school_name')['Student ID'].count()

pass_read_percent

school_name
Bailey High School       4348
Cabrera High School      1655
Figueroa High School     2442
Ford High School         2252
Griffin High School      1299
Hernandez High School    3795
Holden High School        378
Huang High School        2376
Johnson High School      3903
Pena High School          833
Rodriguez High School    3495
Shelton High School      1527
Thomas High School       1351
Wilson High School       1856
Wright High School       1560
Name: Student ID, dtype: int64

In [49]:
overall_pass =  ((school_data_complete[school_data_complete['maths_score'] >= 50].groupby('school_name')['Student ID'].count()) & (school_data_complete[school_data_complete['reading_score'] >= 50].groupby('school_name')['Student ID'].count()))/total_student*100
overall_pass

school_name
Bailey High School       86.495177
Cabrera High School      83.530678
Figueroa High School     78.399457
Ford High School         81.781672
Griffin High School      88.487738
Hernandez High School    80.086300
Holden High School       59.953162
Huang High School        81.453548
Johnson High School      80.718336
Pena High School         86.486486
Rodriguez High School    77.794449
Shelton High School      62.010221
Thomas High School       82.385321
Wilson High School       81.296540
Wright High School       86.222222
dtype: float64

In [50]:
school_summary = pd.DataFrame({
    "School Type": school_type,
    "Total Students": total_student,
    "Per Student Budget": per_student_budget,
    "Total School Budget": total_school_budget,
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    '% Passing Math': pass_math_percent,
    '% Passing Reading': pass_read_percent,
    "% Overall Passing": overall_pass
})
school_summary

NameError: name 'school_type' is not defined

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Maths Scores by Year

* Create a table that lists the average maths score for students of each year level (9, 10, 11, 12) at each school.

  * Create a pandas series for each year. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

In [336]:
year_nine_math = school_data_complete.loc[school_data_complete['year'] == 9].groupby('school_name')["maths_score"].mean()

In [337]:
year_ten_math = school_data_complete.loc[school_data_complete['year'] == 10].groupby('school_name')["maths_score"].mean()

In [338]:
year_eleven_math = school_data_complete.loc[school_data_complete['year'] == 11].groupby('school_name')["maths_score"].mean()

In [339]:
year_twelve_math = school_data_complete.loc[school_data_complete['year'] == 12].groupby('school_name')["maths_score"].mean()

In [340]:
math_scores = pd.DataFrame({
        "Year 9": year_nine_math,
        "Year 10": year_ten_math,
        "Year 11": year_eleven_math,
        "Year 12": year_twelve_math
})
math_scores

                          Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

## Reading Score by Year

* Perform the same operations as above for reading scores

In [341]:
year_nine_reading = school_data_complete.loc[school_data_complete['year'] == 9].groupby('school_name')["reading_score"].mean()

In [342]:
year_ten_reading = school_data_complete.loc[school_data_complete['year'] == 10].groupby('school_name')["reading_score"].mean()

In [343]:
year_eleven_reading = school_data_complete.loc[school_data_complete['year'] == 11].groupby('school_name')["reading_score"].mean()

In [344]:
year_twelve_reading = school_data_complete.loc[school_data_complete['year'] == 12].groupby('school_name')["reading_score"].mean()

In [345]:
reading_scores = pd.DataFrame({
        "Year 9": year_nine_reading,
        "Year 10": year_ten_reading,
        "Year 11": year_eleven_reading,
        "Year 12": year_twelve_reading
})
reading_scores

                          Year 9    Year 10    Year 11    Year 12
school_name
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Maths Score
  * Average Reading Score
  * % Passing Maths
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

In [347]:
bins = [0,584,629,644,680]

In [348]:
schools_by_spending_group = ["<$584", "$585-630", "$630-645", "$645-680"]

In [349]:
school_data_complete['school_spending'] = pd.cut(school_data_complete['budget']/school_data_complete['size'], bins, labels = schools_by_spending_group)

In [350]:
school_spending_bins = school_data_complete.groupby('school_spending')

In [351]:
average_math_score = school_spending_bins['maths_score'].mean()

In [352]:
average_reading_score = school_spending_bins['reading_score'].mean()

In [353]:
passing_maths = school_data_complete[school_data_complete['maths_score'] >= 50].groupby('school_spending')['Student ID'].count()/school_spending_bins['Student ID'].count()*100

In [354]:
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 50].groupby('school_spending')['Student ID'].count()/school_spending_bins['Student ID'].count()*100

In [355]:
overall_passing = school_data_complete[(school_data_complete['reading_score'] >= 50) & (school_data_complete['maths_score'] >= 50)].groupby('school_spending')['Student ID'].count()/school_spending_bins['Student ID'].count()*100

In [356]:
scores_by_spend = pd.DataFrame({
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    "% Passing Math": passing_maths,
    "% Passing Reading": passing_reading,
    "% Overall Passing": overall_passing
            
})
scores_by_spend

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_spending,,,,,
<$584,70.938128,70.379397,88.159548,85.568467,75.581030
$585-630,72.173448,70.965856,91.556671,87.345915,79.960729
$630-645,70.104045,69.953630,85.391274,84.260731,72.027910
$645-680,68.876878,69.064160,81.556079,81.815967,66.766832

## Scores by School Size

* Perform the same operations as above, based on school size.

In [357]:
bins = [0,999,1999,4999]

In [358]:
scores_by_school_size_group = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [359]:
school_data_complete['school size'] = pd.cut(school_data_complete['size'], bins, labels = scores_by_school_size_group)

In [360]:
school_size_bins = school_data_complete.groupby('school size')

In [361]:
average_math_score = school_size_bins['maths_score'].mean()

In [362]:
average_reading_score = school_size_bins['reading_score'].mean()

In [363]:
passing_maths = school_data_complete[school_data_complete['maths_score'] >= 50].groupby('school size')['Student ID'].count()/school_size_bins['Student ID'].count()*100

In [364]:
passing_reading = school_data_complete[school_data_complete['reading_score'] >= 50].groupby('school size')['Student ID'].count()/school_size_bins['Student ID'].count()*100

In [51]:
overall_passing = school_data_complete[(school_data_complete['reading_score'] >= 50) & (school_data_complete['maths_score'] >= 50)].groupby('school size')['Student ID'].count()/school_size_bins['Student ID'].count()*100

KeyError: 'school size'

In [ ]:
scores_by_size = pd.DataFrame({
    "Average Math Score": average_math_score,
    "Average Reading Score": average_reading_score,
    "% Passing Math": passing_maths,
    "% Passing Reading": passing_reading,
    "% Overall Passing": overall_passing
            
})
scores_by_size

## Scores by School Type

* Perform the same operations as above, based on school type

In [ ]:
school_type = ["Government", "Independent"]

Assignment 4- PyCity Schools
Challenge: draw three correct conclusions from the data for Pymoli

The first observation I noticed from observing the data, is that just because the spending per student may be higher than other school, does not necessarily mean that this leads to better maths and reading scores. In fact, the average overall percentage of passing scores came from the two lower spending ranges per student.

The second observation I noticed was that the lower the school size, the better the overall passing of both maths and reading.

The final observation was that Independent schools not only have a higher overall passing percentage, but they also scored higher on average maths scores, average reading scores, percentage passing maths and percentage passing reading.